<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/static/register_style.css">
</head>
<body>
    <div class="register-container">
        <h1>회원가입</h1>
        <h2>가입을 진행해주세요.</h2>
        <form method="POST">
            <div class="input-group">
                <input type="text" id="username" name="username" placeholder="이메일" required>
                <input type="password" id="password" name="password" placeholder="패스워드" required>
            </div>
            <button type="submit">회원가입</button>
        </form>
        <div class="additional-links">
            <a href="login">다른 계정으로 로그인</a>
        </div>
    </div>
</body>
</html>
