<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <div class="register_container">
        <h1>회원가입</h1>
        <h2>가입을 위해 이메일 인증을 진행해주세요.</h2>
            <form method="POST">
                <label for="username">아이디</label>
                <input type="text" id="username" name="username" required>
                <label for="password">패스워드</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">회원가입</button>
        </form>
        <a href="login">다른 계정으로 로그인</a>
    </div>
</body>
</html>